
.logo {
    text-align: center;
}

.home-img {
    text-align: center;
    size-adjust: 100%;
    height: "1800px";
    width: "1000px";
    background:
        url("https://www.bing.com/images/blob?bcid=qLH-KIUcj8AFcsXkvMWW5NKjnp53.....xg"); 
    background-size: "cover";
    background-repeat: "no-repeat";
} 

.home-input {
      text-align: center;
}

.home-btn {
    text-align: center;
}