 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #87a3be;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* NAV BAR */
.nav-container {
  display: flex;
  justify-content: end;
  margin-right: 50px;
  padding-top: 30px;
}

.nav-btn {
  outline: none;
  border: none;
}

/* ABOUT US */
.about-header {
  height: 400px;
  object-fit: cover;
  background-image: url("../../assets/About-food-image.jpg");
  margin-top: 30px;
}

.team-container {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

.linkedin-logo {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  color: black;
}

.linkedin-logo:hover {
  color: #28aef1;
  cursor: pointer;
}

.profile > img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  object-fit: cover;
}

/* FOOTER */
.footersection {
  position: relative;
  bottom: 0px;
  background: #e71212;
  width: 100%;
  height: 250px;
}

.footercontainer {
  width: 400px;
  padding-top: 20px;
}

.footerlogo {
  width: auto;
  height: 70px;
}

.footerlinks a,
.footerlinks a:hover {
  color: rgb(247, 242, 242);
  cursor: pointer;
  font-size: 13px;
  line-height: 2;
}
