:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* NAV BAR */
.nav-container {
  display: flex;
  justify-content: end;
  margin-right: 50px;
  padding-top: 30px;
}

.nav-btn {
  outline: none;
  border: none;
}

/* ABOUT US */
.about-header {
  height: 400px;
  object-fit: cover;
  background-image: url("../../assets/About-food-image.jpg");
  margin-top: 30px;
}

.team-container {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

.linkedin-logo {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  color: black;
}

.linkedin-logo:hover {
  color: #007bb5;
  cursor: pointer;
}

/* .meetteam:after {
  content: "";
  display: table;
  position: absolute;
  background-color: #a5a5a3;
  width: 100px;
  height: 1px;
  bottom: -30px;
  left: 50%;
  margin-left: -50px;
  color: red;
  right: 0;
} */

/* .meetteam > h2 {
  font-weight: bold;
} */

/* .meetteam > span {
  font: italic 400 18px "Open Sans", sans-serif;
  text-align: center;
  color: #a5a5a3;
} */

/* .profile-card {
  margin-bottom: 20px;
  text-align: center;
  /* webkit-filter: grayscale(90%); */
/* filter: grayscale(90%);
  transition: all 0.5s; */

/* .profile-card:hover { */
/* webkit-filter: grayscale(0%); */
/* filter: grayscale(0%); */
/* } */

img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  object-fit: cover;
}

/* .profile-card > div > {
  color: #007bb5;
  text-decoration: none;
  font-size: 22px;
  left: -25px;
  position: absolute;
  top: 18px;
  opacity: 0;
  transition: all 0.5s;
} */

/* .profile-card:hover > div > a.fa {
  left: 0px;
  opacity: 1;
}

.profile-card > div {
  display: table;
  text-align: left;
  margin: 0 auto;
  width: 150px;
  position: relative;
  transition: all 0.5s;
}

.profile-card:hover > div {
  display: table;
  transition: all 0.5s;
  text-align: left;
  margin: 0 auto;
  width: 150px;
  position: relative;
  padding-left: 25px;
}

.profile-card > div > h2,
.profile-card > div > h3 {
  font: 400 12px "Open Sans", sans-serif;
  position: relative;
  margin: 0;
  color: #212121;
  white-space: nowrap;
} */

/* .profile-card > div > h2 {
  font-weight: 700;
  margin: 10px 0 3px 0;
  transition: all 0.5s;
}

.profile-card:hover > div > h2 {
  color: #007bb5;
} */

/* FOOTER */
.footersection {
  position: relative;
  bottom: 0px;
  background: #e71212;
  width: 100%;
  height: 250px;
}

.footercontainer {
  width: 400px;
  padding-top: 20px;
}

.footerlogo {
  width: auto;
  height: 70px;
}

.footerlinks a,
.footerlinks a:hover {
  color: white;
  cursor: pointer;
  font-size: 13px;
  line-height: 2;
}
