/* CSS FOR RESTAURANTS pages */

/* RESTAURANTS */
.heart-icon {
  position: absolute;
  top: 87%;
  right: 6%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.restaurant-image {
  width: 420px; /* Specify the desired width */
  height: 300px; /* Specify the desired height */
}

/* MAP */
#map {
  height: 400px;
}

.map-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}