/* CSS FOR RESTAURANTS and FAVORITES pages */

/* RESTAURANTS */
.heart-icon {
  position: absolute;
  top: 87%;
  right: 6%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* .heart-icon  */
.heart-icon-clicked {
  /* background-image: url("https://picsum.photos/200"); */
  /* background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/heart-clicked.png"); */
}

.map-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.restaurant-image {
  width: 400px; /* Specify the desired width */
  height: 300px; /* Specify the desired height */
}

/* MAP */
#map {
  height: 400px;
}

/* STAR RATINGS */
